<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./scss/style.css" />
    <!-- font-family -->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400&display=swap"
      rel="stylesheet"
    />
    <!-- bootstrap -->
    <link rel="stylesheet" href="./css/bootstrap.css" />
  </head>
  <body>
    <nav class="navbar fixed-top at_top navbar-expand-lg navbar-light">
      <a class="navbar-brand" href="#header_index">YELLOW STUDIO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#section-about"
              >About<span class="sr-only">(current)</span></a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-works">Works</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#section-contact">Contact</a>
          </li>
        </ul>
      </div>
    </nav>

    <header id="header_index">
      <div class="container">
        <img
          src="https://awiclass.monoame.com/img/webpic/w_icon.svg"
          class="icon"
        />
        <img
          src="https://awiclass.monoame.com/img/margin/m_index.svg"
          class="marginbottom mountain"
        />
        <div class="explore at_top">EXPLORE</div>
      </div>
    </header>

    <section id="section-about">
      <img
        src="https://awiclass.monoame.com/img/margin/m_about.svg"
        class="marginbottom"
      />
      <img
        id="cat"
        src="http://awiclass.monoame.com/catpic/cat_lefttop.png"
        alt=""
      />
      <div id="cross"></div>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 offset-sm-4">
            <img
              class="tri1 tri"
              src="https://awiclass.monoame.com/img/webpic/w_tri1.svg"
              alt=""
            />
            <h2 class="r1text">WORKS IN YELLOW</h2>
          </div>
        </div>
        <div class="row">
          <!-- 三角形 -->
          <div class="col-sm-4">
            <img
              class="tri2 tri"
              src="https://awiclass.monoame.com/img/webpic/w_tri2.svg"
              alt=""
            />
          </div>
          <!-- 字 -->

          <div class="col-sm-8">
            <img
              class="tri3 tri"
              src="https://awiclass.monoame.com/img/webpic/w_tri3.svg"
              alt=""
            />
            <h3 class="r2text">YELLOW STUDIO-Website Design / Development</h3>
            <h3 class="r2text">Interactive Art Design</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-8">
            <h2 class="r3text">430 MORE SUCESS CASES</h2>
          </div>
        </div>
        <!-- 消除浮動 -->
        <div class="clearfix"></div>
        <div class="row">
          <div class="col-sm-4 btn-area">
            <a href="#section_works" class="btn btn-lg btn-default"
              >More Story</a
            >
            <img
              class="tri4 tri"
              src="https://awiclass.monoame.com/img/webpic/w_tri4.svg"
              alt=""
            />
          </div>
          <div class="col-sm-4">
            <img
              class="tri5 tri"
              src="https://awiclass.monoame.com/img/webpic/w_tri5.svg"
              alt=""
            />
          </div>
        </div>
      </div>
    </section>
    <section id="section-service">
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h1>Service</h1>
          </div>
          <div class="col-sm-4">
            <img
              src="https://awiclass.monoame.com/img/webpic/w_service_icon1.svg"
              alt=""
              class="icon-service"
            />
            <h3>CI VI Design1</h3>
          </div>
          <div class="col-sm-4">
            <img
              src="https://awiclass.monoame.com/img/webpic/w_service_icon2.svg"
              alt=""
              class="icon-service"
            />
            <h3>CI VI Design2</h3>
          </div>
          <div class="col-sm-4">
            <img
              src="https://awiclass.monoame.com/img/webpic/w_service_icon3.svg"
              alt=""
              class="icon-service"
            />
            <h3>CI VI Design3</h3>
          </div>
        </div>
      </div>
    </section>
    <section id="section-works">
      <img
        src="https://awiclass.monoame.com/img/margin/m_works.svg"
        alt=""
        class="marginbottom mountain"
      />
      <div class="container" id="app">
        <div class="row">
          <div class="col-sm-12">
            <h1>Works</h1>
          </div>
        </div>

        <div v-if="works.length >0" class="row">
          <div class="col-sm-6 work big">
            <img :src="works[1].img" alt="" />
            <div class="texts">
              <h4 class="title">{{works[1].name}}</h4>
              <p class="content" v-html="works[1].content.substr(0,40)"></p>
            </div>
          </div>

          <div class="col-sm-6">
            <div class="row">
              <!-- v-for="w in works.slice(2,6) 抓3456個 -->
              <div v-for="w in works.slice(2,6)" class="col-sm-6 work">
                <img :src="w.img" alt="" />
                <div class="texts">
                  <h4 class="title">{{w.name}}</h4>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="section-contact">
      <img
        class="cat"
        id="cat_blue"
        src="http://awiclass.monoame.com/catpic/cat_blue_cat.png"
        alt=""
      />
      <img
        class="cat"
        id="cat_yellow"
        src="http://awiclass.monoame.com/catpic/cat_yellow_cat.png"
        alt=""
      />
      <img
        class="cat"
        id="cat_grey"
        src="http://awiclass.monoame.com/catpic/cat_grey_cat.png"
        alt=""
      />
      <div class="container">
        <div class="row">
          <div class="col-sm-6">
            <div class="mails">
              <div class="mailcover">
                <img
                  src="https://awiclass.monoame.com/img/webpic/w_mail_cover.svg"
                  alt=""
                />
              </div>
              <div class="mailbody">
                <h5>Dear Yellow Studio</h5>
                <label>Name</label>
                <input type="text" />
                <label>Email</label><input type="text" /> <label>Content</label
                ><textarea name="" id="" cols="30" rows="10"></textarea>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <h2>CONTACT</h2>
            <br />
            <p>
              If you have any question about us,<br />Don`t hestitate to contact
              us !
            </p>

            <br />
            <br />
            <p>
              YELLOWSTUDIO@gmail.com<br />ADDRESS: TAIWAN, TAIPEI , XORO Road<br />Phone:
              02-12345678
            </p>
          </div>
        </div>
      </div>
    </section>
    <footer id="#footer">
      <img
        src="https://awiclass.monoame.com/img/webpic/w_icon_black.svg"
        alt=""
        class="icon"
      />
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
    <script src="./js/jquery-3.5.1.min.js"></script>
    <script src="./js/popper.min.js"></script>

    <script>
      $(window).scroll(function (e) {
        if ($(window).scrollTop() <= 0) {
          $(".explore,.navbar").addClass("at_top");
        } else {
          $(".explore,.navbar").removeClass("at_top");
        }
      });

      $(document).on("click", "a", function (e) {
        e.preventDefault();
        const target = $(this).attr("href");
        $("html,body").animate(
          {
            // 取offset的距離，平緩地移動
            scrollTop: $(target).offset().top,
          },
          500
        );
      });

      function detect_cat(cat_id, x) {
        // 中心：左上距+一半的寬度
        const catplace = $(cat_id).offset().left + $(cat_id).width() / 2;

        if (Math.abs(x - catplace) < 80) {
          $(cat_id).css("bottom", "0px");
        } else {
          $(cat_id).css("bottom", "-50px");
        }
      }

      const vm = new Vue({
        el: "#app",
        data: {
          works: [],
        },
        mounted: function () {
          const vobj = this;
          $.ajax({
            url:
              "https://awiclass.monoame.com/api/command.php?type=get&name=projects",
            success: function (res) {
              // 將剛剛傳回的json資料轉為物件
              vobj.works = JSON.parse(res);
            },
          });
        },
      });

      // 抓滑鼠在螢幕上的位置
      $(window).mousemove(function (e) {
        const pagex = e.pageX;
        const pagey = e.pageY;

        // 以section-about為原點
        const x = pagex - $("#section-about").offset().left;
        const y = pagey - $("#section-about").offset().top;

        if (y < 0 || y > $("#section-about").outerHeight()) {
          $("#cross").css("opacity", "0");
        } else {
          $("#cross").css("opacity", "1");
        }

        $("#cross").css("left", x + "px");
        $("#cross").css("top", y + "px");

        // 抓貓在頁面的相對位置
        const catplace = $("#cat").offset().left + $("#cat").width() / 2;

        const cattop = $("#cat").offset().top;

        const img_url = "http://awiclass.monoame.com/catpic/";

        if (pagex < catplace - 50) {
          $("#cat").attr("src", img_url + "cat_left.png");
        } else if (pagex > catplace + 50) {
          $("#cat").attr("src", img_url + "cat_right.png");
        } else {
          $("#cat").attr("src", img_url + "cat_top.png");
        }

        if (pagex < catplace - 50 && pagey < cattop) {
          $("#cat").attr("src", img_url + "cat_lefttop.png");
        }

        if (pagex > catplace + 50 && pagey < cattop) {
          $("#cat").attr("src", img_url + "cat_righttop.png");
        }

        detect_cat("#cat_yellow", pagex);
        detect_cat("#cat_blue", pagex);
        detect_cat("#cat_grey", pagex);

        $(".mountain").css(
          "transform",
          "translateX(" + (pagex / -20 + 50) + "px)"
        );

        $(".r1text").css("transform", "translateX(" + y / -5 + "px)");

        $(".r2text").css("transform", "translateX(" + y / -10 + "px)");

        $(".r3text").css("transform", "translateX(" + y / -15 + "px)");

        $(".tri1").css("transform", "translateX(" + x / -5 + "px)");

        $(".tri2").css("transform", "translateX(" + x / -10 + "px)");

        $(".tri3").css("transform", "translateX(" + x / -15 + "px)");

        $(".tri4").css("transform", "translateX(" + x / -20 + "px)");

        $(".tri5").css("transform", "translateX(" + x / -25 + "px)");
      });
    </script>
  </body>
</html>
